<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Document Registration</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Document Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="/home">Home page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="import_documents">Import Document</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="export_documents">Export Document</a>
                    </li>
                </ul>
                <div>
                    <a class="nav-link text-white" href="document_register">New Document Register</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container my-5 p-5" style="border:1px solid black;">
        <h4 class="text-center">New Document Register</h4>
        <form class="col-md-6 offset-md-3" th:action="@{/save}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="type" class="form-label">Type</label>
                <select class="form-control" id="type" name="type" required>
                    <option value="" disabled selected>Select document type</option>
                    <option value="Import">import</option>
                    <option value="Export">export</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="sender" class="form-label">Sender</label>
                <select class="form-control" id="sender" name="sender" required>
                    <option value="" disabled selected> Select the Sender </option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Faculty Committees">Faculty Committees</option>
                    <option value="Scientific Research">Scientific Research</option>
                    <option value="Financial and Administrative Deputy">Financial and Administrative Deputy</option>
                    <option value="Academic Deputy">Academic Deputy</option>
                    <option value="Faculty Department Correspondence/Letters">Faculty Department Correspondence/Letters</option>
                    <option value="Student Affairs Deputy">Student Affairs Deputy</option>
                    <option value="University Presidency">University Presidency</option>
                </select>
               
            </div>

            <div class="mb-3">
                <label for="receiver" class="form-label">Receiver</label>
                <select class="form-control" id="receiver" name="receiver" required>
                    <option value="" disabled selected> Select the Receiver </option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Faculty Committees">Faculty Committees</option>
                    <option value="Scientific Research">Scientific Research</option>
                    <option value="Financial and Administrative Deputy">Financial and Administrative Deputy</option>
                    <option value="Academic Deputy">Academic Deputy</option>
                    <option value="Faculty Department Correspondence/Letters">Faculty Department Correspondence/Letters</option>
                    <option value="Student Affairs Deputy">Student Affairs Deputy</option>
                    <option value="University Presidency">University Presidency</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="registerDate" class="form-label">Register Date</label>
                <input type="date" class="form-control" id="registerDate" name="registerDate" required>
            </div>
            <div class="mb-3">
                <label for="register_number" class="form-label">Register Number</label>
                <input type="text" class="form-control" name="registerNumber" required>
                <div class="invalid-feedback">
                  Please provide the register number.
                </div>
              </div>

            <div class="mb-3">
                <label for="sendedDate" class="form-label">Sended Date</label>
                <input type="date" class="form-control" id="sendedDate" name="sendedDate" required>
            </div>

            <div class="mb-3">
                <label for="aboutDocument" class="form-label">About Document</label>
                <textarea class="form-control" id="aboutDocument" name="aboutDocument" rows="3" placeholder="Enter about document" required></textarea>
            </div>
            <div class="mb-3">
                <label for="serial_number" class="form-label">Serial Number</label>
                <input type="text" class="form-control" name="serialNumber" required>
                <div class="invalid-feedback">
                  Please provide the serial number.
                </div>
              </div>

            <div class="mb-3">
                <label for="file" class="form-label">File</label>
                <input type="file" class="form-control" id="file" name="file" required>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXlRAQBoP1kzKp3L0UgRssLZoRKL93AOtkweuyOM5zVx0SvFFRx7v2OruAKJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhG81rTnPpJ1Xgo1pb5wNJ65N0RSRg7CtaTQ8lzSWvMHmF3ZZa6R9pI8IK" crossorigin="anonymous"></script>
</body>
</html>
